<style>
  ul {
      display: flex;
      list-style: none;
  }
  .new_anno {
      font-size: 20px;
  }
</style>


<p id="notice"><%= notice %></p>

<!--% if current_user.role.name == 'seller' %-->
  <p class="new_anno">
    You can create new announcement ->
    <%= link_to 'Create new Announcement', new_announcement_path %>
  </p>

<h1>Announcements</h1>
<ul>
  <%= render @announcements %>
</ul>


